.a1 div,
.a2 div {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #eee;
}
.s1 {
    border: 5px solid red;
}
.s2 {
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
}
.s3 {
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5px dashed yellow;
}
.a2 div {
    width: 400px;
    outline: 8px solid #eee;
    margin: 20px;
}
.z1 {
    border-left: 5px solid red;
}
.z2 {
    visibility: hidden;
}
.z3 {
    border-left: 5px solid rgb(0, 208, 255);
}
